@import url(https://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700|Raleway);
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: raleway;
    overflow: none;
}

.input-field {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}

html {
    overflow: none;
    background: black;
}

body {
    overflow: none;
    font-family: "Open Sans";
    font-size: 16px;
    color: White;
    font-weight: 600;
}

a {
    color: #BBB;
}

@media only screen and (max-width: 600px) {
    .content {
        width: 75% !important;
    }
    .content .already {
        margin: 0px !important;
        font-size: 0.7rem !important;
    }
    .content .already a {
        font-size: 0.7rem !important;
    }
}

@media only screen and (max-width: 600px) {
    .contentr {
        width: 95% !important;
    }
    .contentr .already {
        margin: 0px !important;
        font-size: 0.7rem !important;
    }
    .contentr .already a {
        font-size: 0.7rem !important;
    }
}

.content:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background-color: black;
    background-image: url(bglogin2.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: none;
    background-size: cover;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.contentr:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    overflow: none;
    background-color: black;
    background-image: url(bglogin2.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 540px;
    height: 480px;
    background-color: rgba(10, 10, 10, 0.61);
    margin: auto auto;
    padding: 40px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 25px;
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}

.contentr {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 540px;
    height: 700px;
    overflow: none;
    background-color: rgba(10, 10, 10, 0.911);
    padding: 40px;
    padding-top: 10px;
    margin: auto;
    margin-top: 2.5%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 25px;
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    overflow: none;
}

.content .title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
}

.contentr .title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 0px;
    color: rgb(255, 255, 255);
}

.content input {
    width: 100%;
    font-size: 1.2rem;
    font-family: "Raleway";
    margin: 10px 0px;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.425);
    color: aqua;
}

.contentr input {
    width: 100%;
    font-size: 1.4rem;
    font-family: "Raleway";
    margin: 0px;
    border: none;
    padding: 0px;
    margin-bottom: 0px;
    background: rgba(0, 0, 0, 0.425);
    color: rgb(255, 72, 0);
}

.remCheck {
    width: 25px !important;
    margin: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.425);
}

.remL {
    color: rgb(131, 130, 130);
    font-size: 1rem;
}

.content span {
    font-size: 0.9rem;
}

.contentr span {
    font-size: 0.9rem;
}

.content button {
    width: 100%;
    font-size: 1.4rem;
    padding: 10px;
    margin: 20px 0px;
    background-color: rgba(0, 0, 0, 0.658);
    color: White;
    border: solid 1px aqua;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 25px;
}

.contentr button {
    width: 100%;
    font-size: 1.4rem;
    padding: 10px;
    margin: 20px 0px;
    background-color: rgba(0, 0, 0, 0.658);
    color: White;
    border: solid 1px aqua;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 25px;
}

.content .social {
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.contentr .social {
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.content .social span {
    display: inline-block;
    vertical-align: baseline;
    padding: 0 20px;
}

.contentr .social span {
    display: inline-block;
    vertical-align: baseline;
    padding: 0 20px;
}

.content .social span:before,
.content .social span:after {
    content: '';
    display: block;
    width: 500px;
    position: absolute;
    top: 0.9em;
    border-top: 1px solid White;
}

.contentr .social span:before,
.contentr .social span:after {
    content: '';
    display: block;
    width: 500px;
    position: absolute;
    top: 0.9em;
    border-top: 1px solid White;
}

.content .social span:before {
    right: 75%;
}

.contentr .social span:before {
    right: 75%;
}

.content .social span:after {
    left: 75%;
}

.contentr .social span:after {
    left: 75%;
}

.content .buttons {
    width: 100%;
    margin: 30px 0px;
}

.contentr .buttons {
    width: 100%;
    margin: 30px 0px;
}

.content .buttons button {
    float: left;
    width: 30%;
    margin: 0px 1.5%;
}

.contentr .buttons button {
    float: left;
    width: 30%;
    margin: 0px 1.5%;
}

.content .buttons button i {
    padding-right: 7px;
}

.contentr .buttons button i {
    padding-right: 7px;
}

.content .buttons button.facebook {
    background-color: #4464B2;
}

.contentr .buttons button.facebook {
    background-color: #4464B2;
}

.content .buttons button.twitter {
    background-color: #28A9E0;
}

.contentr .buttons button.twitter {
    background-color: #28A9E0;
}

.content .buttons button.google {
    background-color: #DA4735;
}

.contentr .buttons button.google {
    background-color: #DA4735;
}

.content .buttons:after {
    content: "";
    display: block;
    clear: both;
}

.contentr .buttons:after {
    content: "";
    display: block;
    clear: both;
}

.content .already {
    margin: 30px;
    text-align: center;
    color: rgb(199, 198, 198);
    font-size: 1.2rem;
}

.contentr .already {
    margin: 30px;
    margin-top: 0px;
    text-align: center;
    color: rgb(194, 194, 194);
    font-size: 1.2rem;
}

.content .already a {
    text-align: center;
    color: rgb(211, 44, 32);
    font-size: 0.9rem;
}

.contentr .already a {
    text-align: center;
    color: rgb(211, 29, 29);
    font-size: 0.9rem;
}

#exampleInputPassword1 {
    margin-bottom: 5px;
}