<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>

    <div class="content" style="height: 320px;">
        <form method="POST">
            {% csrf_token %}
            <div class="title">Forgot Password</div>
            <p>{{ message }}</p>
            <div class="input-field col s6">
                <input name="email" id="email" type="text" class="validate" required>
                <label for="email">Email</label>
            </div>
            <button type="submit">Reset Password</button>
            <div class="already" style="margin-top:0px;">Not registered with us yet? <a href="register.html" style="font-size: 1.2rem;">Register Here</a></div>
        </form>
    </div>

</body>

</html>